/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my style */
body {
	/* ukuran font setandar, jarak antar baris, jenis huruf, sans-serif */
	font: 16px/28px, arial, sans-serif;
	background-color: #eaeaea;
	background-image: url(img/email-pattern.png);
	color: #333;
	height: 1500px;
}

/* top-bar */
.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: rgb(182, 205, 212);
	border-bottom: 3px solid rgb(114, 250, 250);
	z-index: 9999;
}

/* container */
.container {
	width: 960px;
	margin: 80px auto;
	margin-top: 50px;
	background-color: white;
}

.twitter {
	width: 60px;/* lebar kotak gambar */
	height: 60px;/* tinggi kotak gambar */
	background-image: url(img/utm.jpg);
	background-size: 60px; /* memperkecil gambar yang tampil */
	/* background-position: 140px 0; */ /* menggeser posisi dalam gambar (tidak menggeser border/tempat gambar) */
	background-repeat: no-repeat;
	display: inline-block;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}


.header {
	padding: 20px;
	padding-bottom: 10px;
}

.header .judul {
	font-size: 40px;
	font-weight: bold;
}

.header ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}

.header a {
	text-decoration: none;
	color: lightskyblue;
	padding: 3px;
}

.header a:hover {
	background-color: lightskyblue;
	color: white;
}

.hero {
	background-image: url(img/books.jpg);
	background-size: cover;
	height: 373px;
	background-position: 0 -180px;
	border-top: 5px solid lightskyblue;
	border-bottom: 5px solid salmon;
}

.main {
	width: 600px;
	padding: 20px;
	box-sizing: border-box;
	float: left;
}

.main h2 {
	font-size: 28px;
	font-weight: bold;
}

.main .penulis {
	font-size: 11px;
}

.main .penulis a {
	color: salmon;
	text-decoration: none;
}

.main p {
	margin-bottom: 20px;
	font-size: 14;
}

/* sidebar */
.sidebar {
	width: 300px;
	float: right;
	padding: 20px;
}

.sidebar h3 {
	font-weight: bold;
	color: #666;
	margin-bottom: 5px;
}

.sidebar img {
	width: 70px;
	float: left;
	padding-right: 10px;
}

.sidebar p {
	font: 12px/18px arial, sans-serif;
}


/* footer */
.footer {
	background-color: #333;
	padding: 10px;
}


.footer .copy {
	color: #eaeaea;
	text-align: center;
	font-size: 12px;
}

/* Clearfix membersihkan float*/
/* nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}
/* endClearfix */





